<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.santosh.test1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".Main22Activity" />
        <activity android:name=".Main23Activity" />
        <activity android:name=".Main24Activity" />
        <activity android:name=".Main25Activity" />
        <activity android:name=".Main26Activity" />
        <activity android:name=".Main27Activity" />
        <activity android:name=".Main28Activity" />
        <activity
            android:name=".Main29Activity"
            android:theme="@style/Base.Theme.AppCompat.Dialog" />
        <activity android:name=".Main210Activity" />
        <activity android:name=".Main211Activity" />
        <activity android:name=".Main212Activity" />
        <activity android:name=".Main213Activity" />
        <activity android:name=".Main214Activity" />
        <activity android:name=".Main215Activity" />
        <activity android:name=".Main217Activity" />
        <activity android:name=".Main218Activity" />
        <activity android:name=".Main219Activity" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyIntentService"
            android:exported="false" />

        <activity android:name=".MyServiceActivity" />
        <activity android:name=".MyActivityWithPendent" />
        <activity android:name=".MyBroadcastReceiverActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyReceiver1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.CUSTOM" />
            </intent-filter>
        </receiver>
    </application>

</manifest>